.header__lang {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 18px 0 6px;
    gap: 0 18px;
}

@media screen and (max-width: 320px) {

    .header__lang {
        margin: 14px 0 8px;
    }
}