.place__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
}

.place__link:hover {
    opacity: 80%;
}