.footer {
    margin: 92px 0 0 0;
    padding: 0 48px 24px 48px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 92px 0 0 0;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 768px) {
    .footer {

        padding: 0 24px 24px 24px;
    }
}


@media screen and (max-width: 650px) {
    .footer {
        margin: 90px 0 0 0;
        padding-left: 20px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 0 118px 0 0;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        max-width: 186px;
    }
}