.footer {
    margin: 92px auto 0;
    padding-bottom: 24px;
    max-width: 1184px;
    max-height: 18px;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 92px 48px 0 48px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 90px 24px 0 24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 64px 118px 0 16px;
        display: flex;
        flex-direction: column;
        max-width: 186px;
    }
}