@font-face {
    font-family: 'Inter-Black';
    src: url(../Font/Inter-Black.woff2) format('woff2'),
        url(../Font/Inter-Black.woff) format('woff');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url(../Font/Inter-Bold.woff2) format('woff2'),
        url(../Font/Inter-Bold.woff) format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(../Font/Inter-Regular.woff2) format('woff2'),
        url(../Font/Inter-Regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.page {
    position: relative;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #2A2C2F;

}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    max-height: 52px;
    margin: 28px auto 0;


}

.header__logo {
    max-width: 176px;
    max-height: 52px;


}

.header__lang {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 18px 0 6px;
    gap: 0 18px;
}

.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Inter-Regular', Arial, sans-serif;
    text-decoration: none;
}

.header__lang-link_active {
    text-decoration-line: underline;
}



.lead {
    margin: 56px auto 0;
    max-width: 984px;
    max-height: 1005px;

}

.lead__title {
    max-width: 720px;
    margin: 0 auto 0;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter-Black', Arial, sans-serif;

}

.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 64px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter-Regular', Arial, sans-serif;
}

.lead__image {
    max-width: 984px;
    max-height: 615px;

}

.lead__caption {
    max-width: 160px;
    margin: 8px 0 0;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Inter-Regular', Arial, sans-serif;
}

.intro {
    max-width: 690px;
    min-height: 429px;
    margin: 114px 442px 0 148px;
}

.intro__title {
    margin: 0 auto 0;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    font-family: 'Inter-Black', Arial, sans-serif;
}

.intro__text {
    margin: 40px auto 33px;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    font-family: 'Inter-Regular', Arial, sans-serif;
}

.intro__list {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: 'Inter-Bold', Arial, sans-serif;
    text-align: left;
}

.select {
    font-family: 'Inter-Regular', Arial, sans-serif;

}

.photo-grid {
    margin: 92px auto 0;
    display: grid;
    max-width: 1184px;
    min-height: 671px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.photo-grid__item {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;

}

.places {
    margin: 92px auto 0;
    min-height: 3392px;
    max-width: 984px;

}

.place {
    margin: 0 0 80px;
    max-width: 984px;
    max-height: 660px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: minmax(46px, 152px), 460px;
    grid-template-areas:
        "title website"
        "image text";
    gap: 48px 40px;
}

.place__title {
    margin: 0;
    text-align: left;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    font-family: 'Inter-Black', Arial, sans-serif;
    grid-area: title;

}

.place__image {
    grid-area: image;
}

.place__website {
    margin: 0 28px 0 0;
    align-self: flex-end;
    grid-area: website;

}

.place__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    font-family: 'Inter-Regular', Arial, sans-serif;
}

.place__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-family: 'Inter-Regular', Arial, sans-serif;
}

.place__link:hover {
    opacity: 80%;
}

.place__text {
    grid-area: text;

}

.place__paragraph {
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    font-family: 'Inter-Regular', Arial, sans-serif;
    margin: 0;
}

.place__paragraph:first-child {
    margin: 0 0 26px;
}

.cover {
    margin: 92px auto 0;
    padding: 0;
    max-width: 1184px;


}

.cover__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../Image/__background.png);
    width: 100%;
    min-height: 740px;
    z-index: 1;
    text-decoration: none;


}

.cover__link::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    content: '';
    opacity: .3;
    transition: .8s;

}

.cover__link:hover::before {
    opacity: .8;
}

.cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter-Black', Arial, sans-serif;
    text-decoration-line: none;
    margin: 0;
}

.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter-Regular', Arial, sans-serif;
    text-decoration-line: none;
    margin: 32px 0 0;
}

.footer {
    margin: 92px auto 24px;
    max-width: 1184px;
    max-height: 18px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter-Regular', Arial, sans-serif;
}

.navigation {
    display: flex;
}

.footer__link {
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 18px 0 0;
}

.footer__link:last-child {
    margin: 0;
}

.footer__link:hover {
    opacity: .8;
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;

}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;

    }

    .lead {
        max-width: 928px;
    }

    .lead__image {
        max-width: 928px;
    }

    .intro {
        margin: 114px 286px 0 48px;
    }

    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;

    }

    .places {
        margin: 92px 48px 48px;
    }

    .plcace {
        max-width: 928px;
        grid-template-columns: 440px 1fr;
        grid-template-rows: minmax(46px, 152px), 440px;
        grid-template-areas:
            "title website"
            "image text";
        gap: 48px 32px;

    }


    .footer {
        margin: 92px 48px 24px 48px;
    }
}